# -----------------------------
# Angular build output
# -----------------------------
/dist/
/out-tsc/
/tmp/
/bazel-out/
/coverage/

# -----------------------------
# Node dependencies and logs
# -----------------------------
/node_modules/
npm-debug.log*
yarn-error.log*

# -----------------------------
# IDEs and editors
# -----------------------------
.idea/
/.project
.classpath
.c9/
*.launch
.settings/
/.history/*

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# -----------------------------
# Angular & tooling cache
# -----------------------------
.angular/cache
.sass-cache/
/typings

# -----------------------------
# Miscellaneous
# -----------------------------
connect.lock
libpeerconnection.log
testem.log
__screenshots__/

# System files
.DS_Store
Thumbs.db