<nav class="navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/stack" routerLinkActive="active">Stack</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>

  <!-- Toggle de tema -->
  <button class="theme-toggle" (click)="toggleTheme()">
    {{ isDarkTheme() ? '🌙' : '☀️' }}
  </button>
</nav>